<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widley</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/videoload.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    
       

    
        
        
    
        <nav>
            <button class="collapse-btn" onclick="collapse()" type="button">
                <img src="../images/burger.png"  class="ms-3" width="30px" alt="">
            </button>
            <div  class="branding ms-5">

            <a class="navbar-brand text-dark" href="#">Widley.</a>
            </div>

            <input type="text" id="search-bar" class="ms-auto">
            <button id="search-btn"><i class="bi bi-search" ></i></button>
                
        </nav>
    

        <div  class="sidebar" >
            <a>
                <div class="nav-icon-container active">
                    <img src="../images/feed.png" width="30" alt="" srcset="">
                    Home
                </div>
            </a><a href="../views/subscription.html">
                <div class="nav-icon-container">
                    <img src="../images/subscribe.png"  width="30" alt="" >
                    Subscription
                </div>
            </a><a href="../views/category.html">
                <div class="nav-icon-container">
                    <img src="../images/category.png" width="30" alt="" srcset="">
                    Category
                </div>
            </a><a href="../views/profile.html">
                <div class="nav-icon-container">
                    <img src="../images/profileicon.png"  width="30" alt="" srcset="">
                    Profile
                </div>
            </a>
            <a href="../views/myvideo.html">
                <div class="nav-icon-container">
                    <img src="../images/upload.png"  width="30" alt="" srcset="">
                    <p class="m-0">My videos</p>
                </div>
            </a>
        </div>
        

        <section >

            
        </section>

    <script src="../js/navbar.js"></script>
    <script src="../js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>