<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>  
    <section>
        <img src="https://source.unsplash.com/random/600×300/?doodle"  class="random-img" alt="">
        <div class="form-container">
            <div class="icon-container">
                <img  src="../images/logo.png" width="80" height="80" alt="">
            </div>
            <h3 id="header-txt">Hello, Welcome !</h3>
            <p id="desc-txt">Enter your login creditials to get started. Make sure you have already have an account before trying to login.</p>
            <form action="" id="signup-form">
                <input type="text"  id="email" placeholder=" enter your email" required>
                <input type="text" id="password" placeholder=" enter your password" required>
                <p id="create-acc-txt">New user? create account now</p>
                <button  type="submit" class="signup-btn">signup</button>
            </form>
        </div>
    </section>
 




    <div class="loader-container">
        <img src="../images/logo.png" id="loader" width="100px" alt="">
  
      </div>
    <script src="../js/signup.js"></script>
</body>
</html>