body{
    padding: 0;
    margin: 0;
}


a{
    text-decoration: none !important;

} 
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: left;
    height: 70px;
}

.active{
    box-sizing: border-box !;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
}




.collapse-btn{
    outline: 0  ;
    background-color: white;
    border : 0;
}

.branding{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    position: fixed;
    left:0;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    width: 80px;
    height: 100vh;
    background-color: white;
    display: flex;
    padding: 10px;
    gap: 2rem ;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    text-align: center;

}


.sidebar a{
    padding: 2px;
    color: black;
    border-radius: 5px;
    width: 100%;

}

.sidebar a:hover {
    background-color: rgb(234, 233, 233);
    color: black;
}

#search-btn{
    outline: 0;
    border: 1px solid grey;
    background-color: white;
    height: 45px;
    width: 5%;
    min-width: 50px;
    margin-right: auto;
    border-radius: 0rem 2rem 2rem 0rem;
    
}

#search-bar{
    border: 1px solid grey;
    max-width: 700px;
    height: 45px;
    width: 70%;
    border-radius: 2rem 0rem 0rem 2rem;
    padding: 0rem 0.75rem 0rem 1rem;
    outline: 0;
}


@media screen and (max-width: 600px) {
    .sidebar {
      display: none;
      
    }
    .subscribed-bar, .category-container , section{
        margin-left: 0px !important;
        padding: 0px !important;
    }
    .branding{
        display: none;
    }

}

