body{
    background-color: white !important;
    margin: 0;
}
.video{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.video-detail-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
}
.meta-data-container{

    box-sizing: border-box  ;
    min-height: 20vh;   
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}
.channel-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-container{
    display: flex;
    justify-items: center;
    flex-direction: column;


}
.subscribe-btn{
    border: 0;
    outline: 0;
    background-color: red;
    width: 100px;
    border-radius: 0.25rem;
    height: 35px;
    color: white;

}



.suggestion-container{
    width:  calc(30% - 40px);
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 90px;
    min-height: 100vh;
    background-color: white;
}





@media screen and (max-width: 600px) {
    .suggestion-container {
      display: none;
      
    }
    .video{
        margin: 10px;
    }

}

@media screen and (max-width: 1200px) {
    .suggestion-container {
      display: none;
      
    }
    .video{
        margin-right: 10px;
    }

}



.video-icon{
    outline: 0;
    border: 0;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background-color: white;
    
}
.video-icon p{
    text-align: center;
    font-size: 16px !important;
}


#liked{
    color: green !important;
}
#disliked{
    color: red !important;

}

#subscribed{
    background-color : grey !important;
}

.details{
    padding:20px;
    border-radius: 0.5rem;
    background-color: rgb(222, 222, 222);
}
.channel-name , .video-title{
    text-transform:capitalize;
}







/* recommendation section  */


.recommendation-video-container{
    
    color: black;
    display: flex;
   
    text-decoration: none !important;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    
}



.recommendation-video-container:hover{
    background-color: rgb(245, 245, 245);
    border-radius: 0.5rem;

}


.recommendation-video-meta-container{
    color: black;
    text-decoration: none !important;
    position: relative;
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    height:100%;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 5px;
}

.recommendation-video-title{
    color: black;
    text-decoration: none !important;
    font-size: 12px;
    
}

.recommendation-video-channel{
    font-size: 9px;
    color : grey;
    

}

.recommendation-view-count{
    

    font-size: 9px;
    color : grey;
    margin-top:5px;
    width: 100%; 
    

}

.recommendation-video-channel-img{
    width: 30px;
    height: 30px;
    border-radius: 10rem;
}

.recommendation-video-meta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}




.recommendation-video-thumbnail{
    width: 40% ;
    height: 100%;
    aspect-ratio: 16/9 !important;
    border-radius: 0.3rem;

}





/* comment section */

.comment-section{
    display: flex;
    padding:20px;
    box-sizing: border-box;
    flex-direction: column;
    gap:2rem;
    width: 100%;
    padding-bottom: 100px;
}

.comment-input-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.comment-icon{
    width: 35px;
    height: 35px;
    border-radius: 50rem;

}



#comment-input{
    border:0px;
    outline: 0px;
    width: calc(100% - 100px);
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    padding:0px 10px 0px 10px;
    height: 50px;
}
.post-icon{
    background-color: white;
    border: 0px;
    font-size: 35px;
    outline: 0px;

}

.comment-container{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.comment-user-container{
    display: flex;
    text-transform: capitalize;
    gap: 1rem;
    margin-bottom: 1rem;
}
.comment-user-img{
    width: 35px;
    border-radius: 50rem;
    height: 35px;
}


